* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* Typography */
  font-size: 16px;
  font-family: "Segoe UI", sans-serif;

  /* Colors */
  --black: #2b2d42;
  --white: #edf2f4;

  --federal-blue: #03045eff;
  --marian-blue: #023e8aff;
  --honolulu-blue: #0077b6ff;
  --blue-green: #0096c7ff;
  --pacific-cyan: #00b4d8ff;
  --vivid-sky-blue: #48cae4ff;
  --non-photo-blue: #90e0efff;
  --non-photo-blue-2: #ade8f4ff;
  --light-cyan: #caf0f8ff;

  --accent: #ef233c;
}

body {
  display: grid;
  background-color: var(--white);
  grid-template-columns: 1fr;
  overflow-x: hidden;
}

#root {
  width: 100vw;
  margin-left: auto;
  margin-right: auto;
}

/* Buttons */
.btn--spe {
  padding: 0.5rem 1rem;
  border-radius: 4px;
  color: var(--federal-blue);
  background: var(--light-cyan);
  border: 1px solid var(--federal-blue);
  transition: 0.33s ease-in-out;
}

.btn--spe:hover {
  color: var(--primary);
  background-color: var(--white);
}

/* LVHA - Anchors */
a:link,
a:visited {
  color: inherit;
  text-decoration: none;
}

a:hover,
a:active {
  text-decoration: underline;
}
