/* SPECIAL */
.header-content {
  width: 500px;
}

header {
  background-image: linear-gradient(
      to bottom,
      rgba(117, 19, 93, 10%) 55%,
      var(--white) 100%
    ),
    url("../images/jobs-hero-image.jpg") !important;
}

/* Categories */
.categories-section {
  display: flex;
  column-gap: 2rem;
}

.important-info {
  display: flex;
  column-gap: 2rem;
  margin-bottom: 0.66rem;
}

.category {
  padding: 1rem 2rem;
}

/* Adding the Category */
.category:not(.active) {
  background-color: var(--white);
}

.active-cate {
  color: #fff;
  background-color: #222 !important;
}

.job {
  display: grid;
  align-items: center;
  grid-template-columns: auto 120px;
  padding: 1rem 2rem;
  color: var(--federal-blue);
  margin: 2rem 0;
  border: 2px solid var(--vivid-sky-blue);
}

.job-headline {
  font-size: 2rem;
}

.job-short-description {
  max-width: 9;
}
